
.copyrights {
  padding: 0px 10px !important;
  font-size: 12px;
}
.logo-resize {
  height: 13px;
  width: 33px;
  margin-top: 19px;
  margin-left: -4px;
}
.footer{
  background-color: #3140AF!important;
  /* height: 300px; */
}
.footer_payment {
  height: 135px!important;
  width: auto;
}
svg.footer-soical-link.ms-2 {
  height: 20px;
  margin-left: 0px !important;
}
.footer_text_bg{
  background-color: #3b67d9;
}
/* ===============
footer part starts
================== */

.footer_slogan{
  /* border-bottom: 1px dotted #fff; */
  border-bottom: 1px dashed #fff;
}
.footer-bg {
  background: #000;
}
.footer-logo {
  height: 120px!important;
}
.footer_logo_bg {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(74 186 249);
}
.payment-img {
  max-width: 180px !important;
  height: 180px !important;
  object-fit: cover;
}

.soical-link {
  background-color: #fff !important;
  border-radius: 5px;
  padding: 5px 5px;
  color: #333 !important;
  transition: all linear 0.3s;
}

.soical-link:hover {
  color: #fff !important;
  background-color: #f38120 !important;
}

.about-border {
  display: inline-block;
}

.about-border::after {
  position: absolute;
  content: "";
  bottom: 4%;
  left: 0;
  background-color: white;
  height: 2px;
  width: 100%;
}

.information-border {
  display: inline-block;
}

.information-border::after {
  position: absolute;
  content: "";
  bottom: 4%;
  left: 0;
  background-color: white;
  height: 2px;
  width: 100%;
}

.account-border {
  display: inline-block;
}

.account-border::after {
  position: absolute;
  content: "";
  bottom: 4%;
  left: 0;
  background-color: white;
  height: 2px;
  width: 100%;
}

.payment-border {
  display: inline-block;
}

.payment-border::after {
  position: absolute;
  content: "";
  bottom: 4%;
  left: 0;
  background-color: white;
  height: 2px;
  width: 100%;
}

.account-hover {
  font-size: 16px;
  transition: all linear 0.3s;
}

.account-hover:hover {
  color: #f38120 !important;
}

.logo-resize {
  height: 15px;
  width: 40px;
  margin-top: 20px;
}

.topbutton svg {
  margin-left: 6px;
  height: 16px;
}

button.scroll-to-top.topbutton {
  background-color: #1a4989 !important;
}

/*============
footer css end
==============*/
/* responsive part here */


@media (max-width: 768px) {
  .footer-manu-item {
    border: 0px solid transparent !important;
  }
  .footer_manu_list {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .footer-soical-link {
    font-size: 14px !important;
  }
  .footer-manu-item {
    border-right: 2px solid #b3b3b3;
    padding: 0 0 0 5px;
    font-size: 14px;
  }
  .nav-link-ifad:after {
    padding-left: 0px;
  }
  .copyrights {
    font-size: 14px;
  }
  @media (max-width: 380px) {
    .footer_width {
      width: 88%;
      margin-left: 50%;
      transform: translate(-50%);
    }
    .api_logo {
      position: absolute;
      top: 22px;
      left: 66%;
    }
  }
}
