@media (max-width: 1400px) {
    
}
@media (min-width: 993px) and (max-width: 1200px) {

}
@media (min-width: 768px) and (max-width: 992px) {
    .search-field {
        width: 300px !important;
      }
      .tab_screen_menu{
        font-size: 13px!important;
        color: #333;
      }
    .add_section{
        margin-top: 100px;
        margin-bottom: 0px;
    }
    .for_res_banner{
         margin-bottom: 70px;
    }
    .vendor_part_feature{
        display: none;
    }
    .vendor_part_feature_responsive{
        display: block;
      }
      .support-icons {
        font-size: 45px !important;
      }
      .button-48 {
        padding: 1.0em 2.2em;
    }
    .add_banner_link_res{
        font-size: 20px!important;
    }
    .hero_banner {
        height: 60vh;
        width: 100%;
    }

    .hero_banner_img2 {
        height: 60vh!important;
      }
      .hero_banner_img3 {
        height: 28.8vh!important;
      }
      .hero_banner_img {
        height: 60vh!important;
      }
      .footer_payment {
        height: 110px!important;
      }
}
